---
import Layout from "../../Layouts/Layout.astro";
import { setUserPassProvider } from "../../lib/userPassProvider";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();

  const providerUri = formData.get("providerUri");
  const returnUri = formData.get("returnUri");

  if (providerUri && typeof providerUri === "string") {
    setUserPassProvider(Astro, providerUri);
  }

  return Astro.redirect(returnUri);
}

const providerUri = Astro.url.searchParams.get("provider");
const returnUri = Astro.url.searchParams.get("return");

if (!providerUri || !returnUri) {
  throw new Error("Missing providerUri or returnUri search param");
}
---

<html lang="en">
  <Layout>
    <!-- Page Container -->
    <div class="flex-1 flex flex-col items-center justify-center">
      <!-- Dialog -->
      <main
        class="border border-black dark:border-white rounded p-5 gap-6 flex flex-col text-center"
      >
        {
          providerUri ? (
            <>
              <!-- Favicon -->
              <div class="w-[60px] h-[60px] rounded-xl p-[3px] -mt-[50px] border-black dark:border-white border bg-white dark:bg-black self-center">
                <img
                  src={`/api/favicon?uri=${encodeURIComponent(providerUri)}`}
                  alt="Provider Favicon"
                  class="w-full h-full object-contain rounded-[9px]"
                />
              </div>
              
              <!-- Title -->
              <div class="space-y-2">
                <div class="text-xl font-bold">
                  {new URL(providerUri).hostname}
                </div>
                <div class="text-xl">Wants To Be Your Pass Provider</div>
              </div>
              
              <!-- Notice -->
              <div class="bg-black/5 dark:bg-white/5 py-4 px-2 text-opacity-50">
                You will receive future pass requests here.
              </div>

              <!-- Actions -->
              <div class="flex gap-5">
                <form
                  action="/set-pass-provider"
                  method="post"
                  class="p-3 border border-black dark:border-white rounded-sm flex-1"
                >
                  <input
                    type="text"
                    name="returnUri"
                    value={returnUri}
                    hidden
                  />

                  <button> Don't Allow</button>
                </form>

                <form
                  action="/set-pass-provider"
                  method="post"
                  class="p-3 bg-black text-white dark:bg-white dark:text-black rounded-sm flex-1"
                >
                  <input
                    type="text"
                    name="providerUri"
                    value={providerUri}
                    hidden
                  />
                  <input
                    type="text"
                    name="returnUri"
                    value={returnUri}
                    hidden
                  />

                  <button> Allow</button>
                </form>
              </div>
            </>
          ) : null
        }
      </main>
    </div>
  </Layout>
</html>
