:root {
  --vp-font-family-base: ui-rounded, sans-serif;
  /* --vp-font-family-mono: monospace; */

  --vp-c-brand-1: var(--vp-c-black);
  --vp-c-brand-2: var(--vp-c-black);
  --vp-c-brand-3: var(--vp-c-black);
  --vp-c-brand-soft: var(--vp-c-black);
}

.dark {
  --vp-c-brand-1: var(--vp-c-white);
  --vp-c-brand-2: var(--vp-c-white);
  --vp-c-brand-3: var(--vp-c-white);
  --vp-c-brand-soft: var(--vp-c-white);
  --vp-button-brand-text: var(--vp-c-black);
  --vp-button-brand-hover-text: var(--vp-c-black);
}

.dark-mode-only {
  display: none; /* hidden in light mode */
}
.light-mode-only {
  display: block; /* visible in light mode */
}

.dark .dark-mode-only {
    display: block; /* visible in dark mode */
}
.dark .light-mode-only {
    display: none; /* hidden in dark mode */
}
