---
import LayoutWithMenu from "../../layouts/LayoutWithMenu.astro";
import { getUserPassProvider } from "../../lib/userPassProvider";

// Allow CORS preflight requests
if (Astro.request.method === "OPTIONS") {
  return new Response(null, {
    headers: {
      "Access-Control-Allow-Origin": "*",
      "Access-Control-Allow-Methods": "POST",
      "Access-Control-Allow-Credentials": "true",
      "Cross-Origin-Opener-Policy": "cross-origin",
      "Cross-Origin-Resource-Policy": "cross-origin",
    },
  });
}

// Redirect pass requests to the user's Pass Provider, if known
const userPassProvider = getUserPassProvider(Astro);
if (userPassProvider) {
  return Astro.redirect(userPassProvider, 307);
}

// Redirect pass requests to the request's default provider if one is specified
const defaultProvider = Astro.url.searchParams.get("defaultProvider");
if (defaultProvider) {
  return Astro.redirect(defaultProvider, 307);
}
---

<LayoutWithMenu>
  <!-- Page Container -->
  <div class="flex-1 flex flex-col items-center justify-center">
    <!-- Dialog -->
    <main class="border border-black dark:border-white rounded p-5 gap-6 flex flex-col text-center">
      {/* Title */}
      <div class="space-y-2">
        <div class="text-xl">Do you have a Pass Provider?</div>
      </div>
      
      {/* Notice */}
      <div class="bg-black/5 dark:bg-white/5 py-4 px-2 text-opacity-50">
        Please sign into your Pass Provider to use Pass requests.
      </div>
    </main>
  </div>
</LayoutWithMenu>
